* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 90px 50px 94px;
  text-underline-position: unset;
}

a {
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

.header__menu {
  display: flex;
  flex-wrap: nowrap;
  gap: 32px;
  justify-self: start;
  list-style: circle;
}

.header__menu li:first-child {
  list-style: none;
}

.active {
  text-decoration: none;
}

.logo {
  justify-self: center;
  width: 137px;
  height: 105px;
}

.address {
  justify-self: end;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-style: normal;
  align-items: flex-start;
  max-width: 240px;
  width: 100%;
}

.cover {
  position: relative;
  width: 100%;
  min-height: 757px;
  z-index: 0;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.6);
} 

.title {
  display: grid;
  gap: 17px 0;
  z-index: 1;
  margin: 0 50px 207px;
  padding-top: 165px;
  color: white;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 30px;
  margin-bottom: 0;
}

.aligned-text_left {
  justify-self: start;
  z-index: 1;
}

.aligned-text_center {
  justify-self: center;
  z-index: 1;
}

.aligned-text_right {
  justify-self: end;
  z-index: 1;
}

.last-letter {
  letter-spacing: 0;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 1000px;
  margin: 106px 50px 50px 50px;
}

.subline {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  word-spacing: 18px;
}

.bet-button {
  width: 256px;
  height: 51px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.0);
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 22px;
  color: white;
  border-width: 1px;
  border-color: white;
}

.lots {
  width: 1052px;
  margin: 180px 24px 120px;
}

.lots-heading {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  list-style: none;
}

.lot-link {
  text-decoration: none;
}

.card {
  width: 334px;
  min-height: 596px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.lot-film {
  background-image: url('../images/card-lot-01.jpg');
}

.lot-book {
  background-image: url('../images/card-lot-02.jpg');
}

.lot-picture {
  background-image: url('../images/card-lot-03.jpg');
}

.card__title {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 22px;
  z-index: 1;
  text-transform: uppercase;
  line-height: 120%;
  color: white;
  text-decoration: underline;
  margin: 0 40px 30px;
  padding-top: 48px;
}

.card__text {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  z-index: 1;
  line-height: 120%;
  color: white;
  margin: 0 40px;
  padding-bottom: 48px;
}

.lots__look-more-link {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-left: 40px;
}

.about {
  width: 1052px;
  margin: 155px 24px 158px;
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-areas:
  "logo-column about-title"
  ". description-block";
  align-items: center;
  row-gap: 8px;
  column-gap: 25px;
}

.logo-column {
  grid-area: logo-column;
  justify-self: center;
  width: 240px;
  height: 240px;
  border-radius: 180px;
  background-image: url(../images/logo-white.svg);
  background-size: 148px 114px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

.about-title {
  grid-area: about-title;
  justify-self: start;
  align-items: center;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 8px;
}

.description-block {
  grid-area: description-block;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.description-text {
  margin-bottom: 24px;
}

.footer {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 0 50px 82px;
}

.contacts {
  justify-self: start;
  max-width: 242px;
  width: 100%;
}

.menu {
  justify-self: center;
  justify-items: center;
  list-style: none;
  width: 164px;
}

.socials {
  justify-self: end;
  display: flex;
  flex-wrap: nowrap;
  gap: 48px;
  list-style: none;
}

.social {
  width: 48px;
  background-repeat: no-repeat;
}